    .navbar {
        background-color: #540bff;
        padding: 13px;
        display: flex;
        color: white;
        margin: -8px;
    }

    .navbar a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
        position: relative;
    }

    .navbar a i {
        font-size: 20px;
        transition: transform 0.2s;
    }

    .navbar a .hidden_text {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%) scale(0.9);
        transition: all 0.3s ease;
        white-space: nowrap;
    }

    .navbar a:hover .hidden_text {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) scale(1);
        text-decoration: underline;
    }

    .navbar a:hover i {
        transform: scale(1.1);
    }


    .navbar .links {
        margin-left: auto;
        display: flex;
        align-items: center;
    }

    .logo {
        width: 50px;
        height: auto;
        margin: 10px;
    }

    .separateur img{
        width: 117%;
        margin: -10px;
        margin-left: -49px;
        margin-right: -49px;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .footer {
        background-color: #0ba6ff;
        color: white;
        text-align: center;
        padding: 10px;
        position: relative;
        bottom: 0;
        width: 100%;
        margin: -10px;
    }